{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="">
  <meta name='yandex-verification' content=''>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% block meta_css %}
  <title>Главная</title>
  <meta name="description" content="Описание страницы">
  <meta name="keywords" content="Ключевые слова через зпт">
  {% endblock %}

  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "css/main.css" %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static "favicon.ico" %}">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
</head>
<body{% block body %}{% endblock %}>
    <form action="{% url 'home' %}" method="post">{% csrf_token %}
        <label>{{ form.site.label_tag }}</label>
        {{ form.site }}
        <p>{{ form.site.help_text }}</p>
        <button type="submit">Отправить</button>
    </form>
    {% if site %}
        <h1>Site</h1>
         {{ site }}
        {% for i in site.base_info.all %}
            {{ i.google_pr }}
        {% endfor %}
        {% if two_weeks %}
            <h1>two_weeks</h1>
            {{ two_weeks }}
        {% endif %}
    {% else %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% block js %}{% endblock %}
</body>
</html>